Repository nickbaxter18/CodexHUB: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, mypy, prettier

.pre-commit-config.yaml:

minimum_pre_commit_version: 3.5.0
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: python -m black
        language: system
        types:
          - python
      - id: isort
        name: isort
        entry: python -m isort --profile=black
        language: system
        types:
          - python
      - id: flake8
        name: flake8
        entry: python -m flake8 --max-line-length=100
        language: system
        types:
          - python
      - id: mypy
        name: mypy
        entry: python -m mypy
        language: system
        types:
          - python
      - id: bandit
        name: bandit
        entry: python -m bandit -q -r macro_system meta_agent qa -x macro_system/tests,meta_agent/tests,tests
        language: system
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: pnpm prettier --write
        language: system
        pass_filenames: true
        files: \.(js|cjs|mjs|ts|tsx|json|md|ya?ml|css|scss)$
      - id: lint-staged
        name: lint-staged
        entry: pnpm lint-staged
        language: system
        pass_filenames: false
        stages:
          - pre-commit
      - id: commitlint
        name: commitlint
        entry: pnpm commitlint --edit
        language: system
        pass_filenames: false
        stages:
          - commit-msg

feat: add statistical drift detection with governance config
  config/drift.json
  config/drift.schema.json
  config/governance.json
  docs/GOVERNANCE.md
  docs/META_AGENT.md
  meta_agent/config_loader.py
  meta_agent/docs/META_AGENT.md
  meta_agent/drift_detector.py
  meta_agent/engine.py
  meta_agent/tests/test_drift_detector.py
  meta_agent/tests/test_meta_agent_v2.py
  scripts/validate_configs.py
  tests/test_config_loader.py
Due: black, isort, flake8, mypy, prettier

feat(agents): implement specialist agents and QA coverage
  agents/__init__.py
  agents/meta_agent.py
  agents/specialist_agents.py
  config/agents.json
  config/qa_rules.json
  cspell.json
  macro_system/macros.py
  macro_system/types.py
  tests/test_config_loader.py
  tests/test_specialist_agents.py
Due: black, isort, flake8, mypy, prettier

feat: add knowledge agent retrieval and QA coverage
  agents/__init__.py
  agents/knowledge_agent.py
  agents/meta_agent.py
  config/agents.json
  config/qa_rules.json
  docs/GOVERNANCE.md
  docs/QA.md
  tests/unit/test_knowledge_agent.py
Due: black, isort, flake8, mypy, prettier

Add Cursor CLI integration to codex-editor
  Block1-2215_KBReady_Master_FULL_AllBlocks_MERGED.md
  docs/GOVERNANCE.md
Due: prettier

Reorganize editor: Move backend files to editor/backend, update paths, and fix start-codex.bat for CodexHUB setup
  backend/health-test.js
  cursor-install.sh
  editor/backend/health-test.js
  editor/backend/health-test/files.js
  editor/backend/health-test/git.js
  editor/backend/health-test/health.js
  editor/backend/health-test/index.js
  editor/backend/health-test/logs.js
  editor/backend/health-test/tasks.js
  editor/backend/middleware.js
  editor/codex-editor.html
  editor/codex-editor.js
  editor/start-codex.bat
Due: prettier

Fix formatting issues
  Block1-2215_KBReady_Master_FULL_AllBlocks_MERGED.md
  docs/GOVERNANCE.md
Due: prettier

Rename health-test.js to server.js for better clarity
  editor/backend/server.js
Due: prettier

Add revolutionary codex instructions v6
  .cursorignore
  EXPONENTIAL_IMPROVEMENT_SUMMARY.md
  OPTIMIZATION_SUMMARY.md
  OPTIMIZED_CODEX_INSTRUCTIONS.json
  REVOLUTIONARY_CODEX_INSTRUCTIONS.json
  commitmsg.txt
  docs/CURSOR_INTEGRATION.md
  docs/cursor_client_examples.md
  editor/README.md
  editor/generate-api-key.js
  src/cursor/README.md
  src/cursor/__init__.py
  src/cursor/cursor_client.js
  src/cursor/cursor_client.py
Due: black, isort, flake8, mypy, prettier

Add setup troubleshooting and simplified instructions
  SIMPLIFIED_CODEX_INSTRUCTIONS.json
  TROUBLESHOOTING_SETUP.md
Due: prettier

feat: implement high-ROI audit improvements
  .github/workflows/enhanced-ci.yml
  AUDIT_REPORT.md
  docs/model_cards/template.md
  scripts/bootstrap_cursor_integration.py
  scripts/bootstrap_knowledge.py
  src/mobile/control_interface.py
  src/performance/metrics_collector.py
Due: black, isort, flake8, mypy, prettier

feat: add audit report and observability scaffolding
  docs/audits/2024-12-05-codex-readiness-audit.md
  knowledge/__init__.py
  knowledge/corpus_loader.py
  macro_system/macros.json
  src/governance/fairness.py
  src/inference/__init__.py
  src/inference/inference.py
  src/registry/registry.py
  tests/compliance/test_fairness.py
  tests/unit/__init__.py
  tests/unit/test_inference_metrics.py
  tests/unit/test_knowledge_corpus_loader.py
Due: black, isort, flake8, mypy, prettier

feat: complete Cursor integration system with all files and documentation
  CURSOR_INTEGRATION_INSTRUCTIONS.md
  CURSOR_INTEGRATION_STATUS.md
  config/cursor_environment_template.env
  config/cursor_integration_config.json
  scripts/start_cursor_integration.py
  scripts/validate_cursor_integration.py
Due: black, isort, flake8, mypy, prettier

feat: complete Cursor integration final review with auto-setup
  CURSOR_AUTO_START_INSTRUCTIONS.md
  CURSOR_INTEGRATION_FINAL_REVIEW.md
  scripts/auto_setup_cursor.py
  scripts/cursor_startup_hook.py
Due: black, isort, flake8, mypy, prettier

Fix governance conflicts and harden agent initializers
  AUDIT_REPORT.md
  agents/__init__.py
  agents/meta_agent.py
  config/agents.json
  config/qa_rules.json
  src/knowledge/auto_loader.py
  src/knowledge/brain_blocks_integration.py
  src/mobile/mobile_app.py
  tests/integration/test_system_initializers.py
Due: black, isort, flake8, mypy, prettier

feat: complete pnpm configuration and final Codex instructions
  .npmrc
  CODEX_CURSOR_INTEGRATION_INSTRUCTIONS.md
  CODEX_FINAL_INSTRUCTIONS.md
  PNPM_CURSOR_INTEGRATION.md
  config/cursor.env
  package.json
  pnpm-workspace.yaml
  scripts/codex_cursor_startup.py
  scripts/setup_pnpm_cursor.py
  src/cursor/package.json
  src/knowledge/package.json
  src/mobile/package.json
Due: black, isort, flake8, mypy, prettier

feat: update AGENTS.md with comprehensive Cursor IDE integration
  AGENTS.md/AGENTS.md
  AGENTS_CURSOR_INTEGRATION.md
Due: prettier

fix: improve Cursor environment checking and error handling
  scripts/check_cursor_environment.py
  scripts/codex_cursor_startup.py
Due: black, isort, flake8, mypy

fix: resolve module import issues in Cursor startup scripts
  scripts/check_cursor_environment.py
  scripts/codex_cursor_startup.py
Due: black, isort, flake8, mypy

fix: add missing functions and create simplified startup script
  scripts/simple_cursor_startup.py
  src/knowledge/auto_loader.py
  src/knowledge/brain_blocks_integration.py
  src/mobile/mobile_app.py
Due: black, isort, flake8, mypy

fix: resolve package.json dependency conflicts and improve startup
  AUDIT_REPORT_FINAL.md
  package.json
  requirements-cursor.txt
  scripts/simple_cursor_startup.py
  src/cursor/package.json
  src/knowledge/brain_blocks_integration.py
  src/knowledge/package.json
  src/mobile/mobile_app.py
  src/mobile/package.json
Due: black, isort, flake8, mypy, prettier

Add audit and harden Cursor integration scaffolding
  AUDIT_REPORT_2025-02-14.md
  requirements-dev.txt
  requirements.txt
  scripts/codex_cursor_startup.py
  src/knowledge/brain_blocks_integration.py
  src/mobile/mobile_app.py
Due: black, isort, flake8, mypy, prettier

Fix dependency issues: remove corrupted lock files and clear caches
  AGENTS.md/package-lock.json
  AGENTS.md/pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier

chore: refresh dependencies and lint config
  .eslintrc.json
  .stylelintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  requirements-dev.txt
  requirements.txt
  src/registry/registry.py
  tests/unit/test_pipeline_config_loader.py
Due: black, isort, flake8, mypy, prettier

feat: add calibrated probabilistic qa
  config/governance.json
  config/governance.schema.json
  docs/QA_ENGINE.md
  meta_agent/__init__.py
  meta_agent/drift_detector.py
  meta_agent/engine.py
  meta_agent/tests/test_drift_detector.py
  qa_engine/__init__.py
  qa_engine/probabilistic_qa.py
  qa_engine/statistics_helpers.py
  tests/test_probabilistic_qa.py
  tests/test_statistics_helpers.py
Due: black, isort, flake8, mypy, prettier

feat: add governance policy enforcer with tests
  config/governance.json
  config/governance.schema.json
  docs/GOVERNANCE.md
  docs/META_AGENT.md
  meta_agent/__init__.py
  meta_agent/docs/META_AGENT.md
  meta_agent/drift_detector.py
  meta_agent/engine.py
  meta_agent/tests/test_drift_detector.py
  src/governance/__init__.py
  src/governance/policy_enforcer.py
  tests/unit/test_policy_enforcer.py
Due: black, isort, flake8, mypy, prettier

Merge PRs #20, #21, #22 into main [skip husky]
  .github/workflows/enhanced-ci.yml
  AGENTS_CURSOR_INTEGRATION.md
  AUDIT_REPORT_FINAL.md
  CODEX_CURSOR_INTEGRATION_INSTRUCTIONS.md
  CODEX_CURSOR_MANDATE.md
  CODEX_FINAL_INSTRUCTIONS.md
  CURSOR_AUTO_START_INSTRUCTIONS.md
  CURSOR_INTEGRATION_COMPLETE_GUIDE.md
  CURSOR_INTEGRATION_FILES.md
  CURSOR_INTEGRATION_FINAL_REVIEW.md
  CURSOR_INTEGRATION_INSTRUCTIONS.md
  CURSOR_INTEGRATION_README.md
  CURSOR_INTEGRATION_STATUS.md
  CURSOR_INTEGRATION_SUMMARY.md
  EXPONENTIAL_IMPROVEMENT_SUMMARY.md
  OPTIMIZATION_SUMMARY.md
  OPTIMIZED_CODEX_INSTRUCTIONS.json
  PNPM_CURSOR_INTEGRATION.md
  REVOLUTIONARY_CODEX_INSTRUCTIONS.json
  SIMPLIFIED_CODEX_INSTRUCTIONS.json
  TROUBLESHOOTING_SETUP.md
  config/governance.json
  config/governance.schema.json
  docs/CURSOR_INTEGRATION.md
  docs/QA_ENGINE.md
  docs/cursor_client_examples.md
  docs/model_cards/template.md
  meta_agent/__init__.py
  meta_agent/drift_detector.py
  meta_agent/engine.py
  meta_agent/tests/test_drift_detector.py
  push_script.bat
  qa_engine/__init__.py
  qa_engine/probabilistic_qa.py
  qa_engine/statistics_helpers.py
  src/cursor/README.md
  src/cursor/cursor_client.js
  tests/test_probabilistic_qa.py
  tests/test_statistics_helpers.py
Due: black, isort, flake8, mypy, prettier

test(editor): assert replace updates content
  .gitignore
  .npmrc
  editor/README.md
  editor/backend/config.js
  editor/backend/health-test/files.js
  editor/backend/health-test/git.js
  editor/backend/health-test/health.js
  editor/backend/health-test/index.js
  editor/backend/health-test/logs.js
  editor/backend/health-test/tasks.js
  editor/backend/middleware.js
  editor/backend/server.js
  editor/codex-editor.html
  editor/codex-editor.js
  editor/start-codex.bat
  package.json
  pnpm-lock.yaml
  tests/editor/backend.test.js
Due: prettier

chore: commit current progress (skip Husky/lint)
  agents/agent_base.py
  lint-staged.config.js
  macro_system/cli.py
  macro_system/engine.py
  macro_system/migrations/add_agent_metadata.py
  macro_system/reports.py
  macro_system/tests/test_macros.py
  macro_system/tests/test_planner.py
  meta_agent/tests/test_macro_dependency_manager.py
  meta_agent/tests/test_trust_engine.py
  package.json
  pnpm-lock.yaml
  qa/qa_engine.py
  qa/qa_event_bus.py
  qa_engine/probabilistic_qa.py
  scripts/auto_setup_cursor.py
  scripts/bootstrap_cursor_integration.py
  scripts/bootstrap_integration.py
  scripts/bootstrap_knowledge.py
  scripts/check_cursor_environment.py
  scripts/codex_cursor_startup.py
  scripts/enforce_cursor_usage.py
  scripts/setup_cursor_integration.py
  scripts/setup_pnpm_cursor.py
  scripts/simple_cursor_startup.py
  scripts/start_cursor_integration.py
  scripts/test_cursor_integration.py
  scripts/validate_cursor_integration.py
  src/cursor/__init__.py
  src/cursor/auto_invocation.py
  src/cursor/cursor_client.py
  src/cursor/enforcement.py
  src/knowledge/auto_loader.py
  src/knowledge/brain_blocks_integration.py
  src/mobile/control_interface.py
  src/mobile/mobile_app.py
  src/performance/metrics_collector.py
  tests/conftest.py
  tests/test_event_bus.py
  tests/test_probabilistic_qa.py
Due: black, isort, flake8, mypy, prettier

chore: streamline ci health checks
  .editorconfig-checker.json
  .github/workflows/agents-md-check.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/enhanced-ci.yml
  .github/workflows/scheduled_security.yml
  .gitignore
  .markdownlintignore
  .prettierignore
  .yamllint
  cspell.json
  data/sample_dataset.csv
  eslint.config.mjs
  package.json
  tests/editor/backend.test.js
Due: prettier

Organize cursor documentation
  AUDIT_REPORT_FINAL.md
  cursor/AGENTS_CURSOR_INTEGRATION.md
  cursor/CODEX_CURSOR_INTEGRATION_INSTRUCTIONS.md
  cursor/CODEX_CURSOR_MANDATE.md
  cursor/CODEX_FINAL_INSTRUCTIONS.md
  cursor/CURSOR_AUTO_START_INSTRUCTIONS.md
  cursor/CURSOR_INTEGRATION_COMPLETE_GUIDE.md
  cursor/CURSOR_INTEGRATION_FILES.md
  cursor/CURSOR_INTEGRATION_FINAL_REVIEW.md
  cursor/CURSOR_INTEGRATION_INSTRUCTIONS.md
  cursor/CURSOR_INTEGRATION_README.md
  cursor/CURSOR_INTEGRATION_STATUS.md
  cursor/CURSOR_INTEGRATION_SUMMARY.md
  cursor/OPTIMIZED_CODEX_INSTRUCTIONS.json
  cursor/PNPM_CURSOR_INTEGRATION.md
  cursor/REVOLUTIONARY_CODEX_INSTRUCTIONS.json
  cursor/SIMPLIFIED_CODEX_INSTRUCTIONS.json
  cursor/cursor-install.sh
  cursor/requirements-cursor.txt
  scripts/auto_setup_cursor.py
  scripts/simple_cursor_startup.py
Due: black, isort, flake8, mypy, prettier

chore: relax mypy coverage to unblock strict run
  Dockerfile
  Makefile
  README.md
  SECURITY.md
  backend/health-test.js
  backend/health-test/health.js
  bad.js
  docs/api.md
  docs/setup.md
  docs/usage.md
  lint-staged.config.js
  pyproject.toml
  src/common/config_loader.py
  src/cursor/auto_invocation.py
  src/knowledge/auto_loader.py
Due: black, isort, flake8, mypy, prettier

chore: improve automation ergonomics and deployment tooling
  .dockerignore
  .env.example
  Dockerfile
  Makefile
  README.md
  docs/architecture.md
  package.json
  pnpm-workspace.yaml
  pyproject.toml
  scripts/auto_setup_cursor.py
  scripts/codex_status.py
  src/cursor/auto_invocation.py
  src/performance/metrics_collector.py
Due: black, isort, flake8, mypy, prettier

chore: harden automation and tooling
  .env.example
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  README.md
  lint-staged.config.js
  pyproject.toml
  scripts/codex_status.py
  src/knowledge/auto_loader.py
Due: black, isort, flake8, mypy, prettier

refactor: enrich knowledge graph scoring and tests
  U-DIG-IT/runner_project/src/knowledge/graph.py
  U-DIG-IT/runner_project/tests/test_knowledge_graph.py
Due: black, isort, flake8, mypy

chore: align runtime configs and remove unused multer
  .env.example
  .pre-commit-config.yaml
  Dockerfile
  README.md
  docker-compose.yml
  docs/cursor_client_examples.md
  package.json
  pnpm-lock.yaml
Due: prettier

docs: add automation command prompts for runner
  U-DIG-IT/runner_project/COMMAND_PROMPTS.md
Due: prettier

feat(rentalos-ai): implement stage 2 intelligence
  rentalos-ai/README.md
  rentalos-ai/deploy_logs/changelog.md
  rentalos-ai/docs/architecture.md
  rentalos-ai/docs/testing.md
  rentalos-ai/src/backend/orchestrator/knowledge_base.py
  rentalos-ai/src/backend/services/api_service.py
  rentalos-ai/src/backend/services/maintenance_service.py
  rentalos-ai/src/backend/services/pricing_service.py
  rentalos-ai/src/backend/tests/unit/test_api_service.py
  rentalos-ai/src/backend/tests/unit/test_maintenance_service.py
  rentalos-ai/src/backend/tests/unit/test_pricing_service.py
Due: black, isort, flake8, mypy, prettier
